<header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__item-list">

        </li>
        <li class="main-header__item">
          <a class="<%= path === '/' ? 'active' : '' %>"  href="/contactus">Contact Us</a>
        </li>
      </ul>
    </nav>
  </header>